html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

h1 {
  font-family: "Ubuntu", serif;
  font-size: xx-large;
}

h2 {
  font-family: "Ubuntu", serif;
  font-size: x-large;
}

h3 {
  font-family: "ubuntu", serif;
  font-size: x-large;
}

h4 {
  font-family: "ubuntu", serif;
  font-size: medium;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.byline {
  font-family: Arial, serif;
  font-size: small;
}

figcaption {
  font-family: Arial, sans-serif;
  font-size: small;
  text-align: right;
  margin-bottom: 20px
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

 .blockquote {
  border-left: 4px solid;
  padding-left: 20px;
  margin: 30px 0;
  color: gray;
}

ol {
  list-style-position: inside;
}

section {
  background-color: #CCC;
  padding: 12px;
}